* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: sans-serif;
  line-height: 1;
  font-weight: 600;
  color: #555;
}
main,
header {
  background-color: antiquewhite;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 9.6rem;
}
header {
  padding: 34px 40px;
}
.heading-primary {
  font-size: 4.9rem;
  font-weight: 900;
  line-height: 1.05;
  color: #333;
  margin-bottom: 3.2rem;
}
.description {
  font-size: 2rem;
  line-height: 1.4;
  margin-bottom: 3.2rem;
}
.hero-text-box a:link,
.hero-text-box a:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  padding: 16px 32px;
  margin: 20px 20px;
  margin-left: 0;
  background-color: #e67e22;
  border-radius: 8rem;
  color: white;
}
.hero-text-box a:hover,
.hero-text-box a:active {
  background-color: #cf711f;
}
.hero-img {
  padding-top: 40px;
  width: 100%;
}
.delivery-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}
.delivery-imgs {
  display: flex;
}
.delivery-imgs img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid white;
}
.delivery-imgs img:last-child {
  margin-right: 0;
}
.delivery-meals p {
  font-size: 1.8rem;
  font-weight: 600;
}
.delivery-meals span {
  font-weight: 700;
  color: #cf711f;
}
.header {
  display: flex;
  justify-content: space-between;
}
.logo {
  width: 200px;
  height: auto;
  padding-left: 20px;
  cursor: pointer;
}
.main-nav a:link,
.main-nav a:visited {
  font-size: 2rem;
  padding-right: 2rem;
  color: #555;
  text-decoration: none;
}

.main-nav a:hover,
.main-nav a:active {
  color: #cf711f;
  transition: 0.5s;
}
.main-nav a:last-child {
  background-color: #e67e22;
  padding: 1.2rem;
  border-radius: 9px;
  color: white;
  cursor: pointer;
}
.main-nav a:last-child:hover,
.main-nav a:last-child:active {
  background-color: #cf711f;
  cursor: pointer;
}
.container-2 {
  max-width: 120rem;
  padding: 4.8rem 0 3.2rem 0;
  margin: 0 auto;
}
.container-2 h1 {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}
.brands {
  display: flex;
  justify-content: space-around;
}
.brands img {
  filter: brightness(0);
  height: 3.2rem;
  opacity: 50%;
  margin-bottom: 10rem;
}
.how {
  color: #cf711f;
  font-size: 2rem;
  padding-left: 10px;
  text-transform: uppercase;
}
.how-h2 {
  margin-top: 15px;
  font-size: 4.2rem;
  color: black;
}
.grid-class {
  max-width: 120rem;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
  padding: 20px;
  margin-bottom: 30px;
}

.step-img-01 {
  justify-self: center;
  position: relative;
}
.step-img-01 img {
  padding-top: 40px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
}
.step-img-01::before {
  content: "";
  display: block;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-75%, -50%);
  background-color: rgb(251, 226, 183);
  border-radius: 50%;
  padding-bottom: 80%;
  z-index: -2;
}
.step-img-01::after {
  content: "";
  display: block;
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-78%, -50%);
  background-color: rgb(249, 196, 127);
  border-radius: 50%;
  padding-bottom: 70%;
  z-index: -1;
}

.step-01 h3 {
  color: black;
  font-size: 3.2rem;
  line-height: 1;
}
.step-01 p {
  padding-top: 20px;
  font-size: 2rem;
  line-height: 1.5;
}
.step-01 .number {
  padding-top: 40px;
  font-size: 7rem;
  color: rgba(69, 69, 69, 0.3);
}
.meals {
  color: #cf711f;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  padding-top: 20px;
}
.description-2 {
  color: black;
  font-size: 5rem;
  text-align: center;
}
.recipe {
  color: #cf711f;
}
.third-block {
  margin-top: 30px;
  width: 120rem;
  height: 520px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 60px;
}
.third-block img {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.st-grid,
.nd-grid {
  font-size: 2.3rem;
  color: black;
  box-shadow: 0 12px 24px rgba(69, 69, 69, 0.3);
  transition: 0.5s;
  border-radius: 15px;
}
.st-grid:hover,
.nd-grid:hover {
  transform: translatey(-1.2rem);
  transition: 0.5s;
  box-shadow: 20px 22px 34px rgba(69, 69, 69, 0.3);
}
.rd-grid {
  font-size: 2.3rem;
  color: black;
}
.type {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 3px 10px;
  display: inline;
  background-color: rgb(151, 246, 151);
  border: 5px;
  border-radius: 10px;
}
.type2 {
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 3px 10px;
  display: inline;
  background-color: rgb(250, 197, 7);
  border: 5px;
  border-radius: 10px;
}
ul {
  padding-top: 10px;

  font-size: 2rem;
  list-style: none;
  line-height: 2;
  color: #555;
}

.ico {
  color: #e27718;
  width: 30px;
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}
.data {
  padding-left: 35px;
  line-height: 2;
}
.fire {
  width: 40px;
  color: #cf711f;
  padding-right: 10px;
}
.dish {
  font-weight: 500;
  color: black;
  text-transform: uppercase;
}
.data > p {
  font-weight: 300;
  color: #555;
}

.all > a:link,
.all > a:visited {
  margin-top: 32px;
  font-size: 2rem;
  text-align: center;
  display: block;
  color: #cf711f;
}
.all > a:hover,
.all > a:active {
  text-decoration: none;
}

.container-3 {
  display: grid;
  grid-template-columns: 55fr 45fr;
  background-color: antiquewhite;
}

.testimonial {
  padding: 9.6rem;
  font-size: 2rem;
}
.testimonial > p {
  color: #e67e22;
  padding-bottom: 20px;
  line-height: 2;
}
.testimonial > h3 {
  font-size: 4rem;
  color: black;
  margin-bottom: 7rem;
}
.testmonial-img {
  width: 5rem;
  border-radius: 50%;
}
.feedback {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 8rem;
  row-gap: 4.8rem;
}
.names {
  font-style: italic;
  font-weight: 300;
}
.feedback p {
  color: black;
  line-height: 1.2;
  padding: 10px;
}
.testimonial-img img {
  display: block;
  max-width: 80%;
  overflow: hidden;
  transition: 0.5s;
}
.testimonial-img img:hover {
  transform: scale(1.1);
}
.testimonial-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  row-gap: 4rem;
  padding: 10rem 1.6rem;
  height: 900px;
}
.list-items {
  display: flex;
  column-gap: 0.5rem;
  padding-bottom: 10px;
}
.p-class {
  display: flex;
}
.pricing {
  width: 100rem;
  margin: 9rem auto;
}
.pricing-1 {
  font-size: 2rem;
  color: #cf711f;
  padding-bottom: 20px;
}
.pricing h3 {
  font-size: 4rem;
  color: black;
  margin-bottom: 30px;
  font-weight: 900;
}
.price-blocks {
  width: 80rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  align-items: center;
  justify-content: center;
}
.price-block-1 {
  padding: 60px 0;
  border: 2px solid #f1dac5;
  border-radius: 10px;
}
.price-block-2 {
  padding: 60px 0;
  background-color: #f7e3d3;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.price-block-2::after {
  content: "BEST VALUE";
  padding: 1rem 2.2rem;
  position: absolute;
  top: 5%;
  right: -8%;
  font-size: 1.4rem;
  font-weight: 700;
  color: black;

  background-color: rgb(251, 251, 8);
  transform: rotate(45deg);
}
.starter {
  text-align: center;
  font-size: 2rem;
  color: #cf711f;
  padding-bottom: 20px;
}
.price-blocks h2 {
  text-align: center;
  font-weight: 900;
  font-size: 3rem;
  color: black;
}
.rate {
  font-size: 5rem;
  color: black;
}
.month {
  text-align: center;
  font-size: 1.5rem;
  color: black;
  padding-bottom: 20px;
  padding-top: 20px;
}
li {
  display: flex;

  padding-left: 15%;
}
.plan-button:link,
.plan-button:visited {
  display: block;
  text-align: center;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
  padding: 20px 20px;
  font-size: 2rem;
  text-decoration: none;
  border-radius: 15px;
  color: white;
  background-color: #cf711f;
}
.plan-button:hover,
.plan-button:active {
  background-color: #f49446;
  text-decoration: underline;
}
.ico-1 {
  color: #cf711f;
  font-size: 3.2rem;
  padding-top: 10px;
}
.last-price {
  text-align: center;
  margin: 50px auto;
  font-size: 1.5rem;
  font-weight: 300;
}

.container-4 {
  width: 120rem;
  margin: 15px auto;
}
.parent-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.favicon {
  width: 6rem;
  padding-bottom: 10px;
}
.parent-4 ion-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 15px 15px;

  color: #e27718;
  background-color: #f9e7d9;
  border-radius: 50%;
}
.child-1 h3 {
  font-size: 2.8rem;
  font-weight: 700;

  padding-bottom: 15px;
  color: black;
}
.child-1 p {
  font-size: 1.8rem;
  line-height: 1.2;
  padding-bottom: 15px;
}
.apple {
  fill: white;
}

.h3-1 {
  padding-top: 10px;
}
.container-5 {
  width: 120rem;
  margin: 20px auto 10% auto;

  background-color: #f49446;
  border-radius: 9px;
  box-shadow: 0 22px 24px rgba(69, 69, 69, 0.3);
}

.parent-5 {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.eating {
  max-width: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.child-3 {
  background-image: linear-gradient(
      to right,
      rgba(235, 151, 78, 0.3),
      rgba(235, 151, 78, 0.3)
    ),
    url(content/img/eating.jpg);
  background-size: cover;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.child-2 {
  padding-top: 8%;
  padding-left: 9%;
  padding-right: 5%;
  padding-bottom: 8%;
}
.child-2 h2 {
  font-size: 4rem;
  color: #371b02;
  padding-bottom: 30px;
}
.child-2-p {
  font-size: 2rem;
  line-height: 1.5;
  color: black;
  font-weight: 300;
  padding-bottom: 15px;
}
.grand-child {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.6rem;
}
.grand-child p {
  font-size: 2rem;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #371b02;
}
input {
  font-size: 2rem;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 9px;
  border: none;
}
select {
  font-size: 2rem;
  padding: 10px 30px 10px 15px;
  border-radius: 9px;
  border: none;
}
.grand-child a:link,
.grand-child a:visited {
  display: block;
  margin-right: 33px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 40px;

  text-decoration: none;
  color: white;
  background-color: #371b02;
  border-radius: 10px;
}
.grand-child a:hover,
.grand-child a:active {
  background-color: white;
  color: black;
}

.container-6 {
  border-top: 1px solid rgba(84, 81, 81, 0.2);
}
.child-4 {
  width: 120rem;
  margin: 50px auto;
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 30px;
}
.last-logo {
  width: 80%;
  display: block;
  padding-bottom: 20px;
}
.for-flex a:link,
.for-flex a:visited {
  padding-top: 20px;
  font-size: 2rem;
  line-height: 1.2;
  display: block;
  text-decoration: none;
  color: #555;
  font-weight: 300;
}
.for-flex a:hover,
.for-flex a:active {
  cursor: pointer;
  text-decoration: underline;
}
.for-flex p {
  font-size: 2rem;
}
.address {
  padding-top: 25px;
  color: #555;
  font-weight: 200;
}
.copyright {
  margin-top: 35%;
  color: #555;
  font-weight: 200;
}
.contact,
.account,
.company,
.resource {
  padding-bottom: 30px;
}
.fb {
  padding-top: 20px;
  display: flex;
  gap: 20px;
}
